button{
    font-family: poppins,system-ui;
    color: #fff;
    transition: 0.4s;   
  }


  .btn-yellow{    
    background: #F3C63E;
    height: 40px;
    min-width: 120px;
    width: fit-content;
    border-radius: 80px;
    border: 2px solid #F3C63E;
    transition: 0.4s;
    padding: 10px 20px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }



  .btn-yellow:hover{
    background: transparent;
    border: 2px solid #F3C63E;
    color: #F3C63E;
    transition: 0.4s;
    cursor: pointer;
  }




  .btn-black{    
    background: #000;
    height: 40px;
    min-width: 120px;
    width: fit-content;
    border-radius: 80px;
    border: none;
    transition: 0.4s;
    padding: 10px 20px;
    color: #F3C63E;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }



  .btn-black:hover{
    background: #F3C63E;
    color: #000;
    transition: 0.4s;
    cursor: pointer;
  }





  .btn-whatsapp{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: 0.4s;
  }


  .btn-whatsapp:hover{
    width: 60px;
    height: 60px;
    transition: 0.4s;
  }