*{
  font-family: poppins,system-ui;
  color: #fff;
  transition: 0.4s;   
  margin: 0;
}

h1{
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: center;
}

h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}

p{
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
}

.subtitulo p{
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 5px;
  text-transform: uppercase;
}