footer{
    background-color: #000;
    height: 134px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 5%;
}

footer div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dev{
    width: fit-content;
    display: grid;
    justify-content: center;
    justify-items: center;

}