body{
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 100%;    
  }



section{
  display: inline-flex;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section div{
  padding: 0 20px;
}

#hero{
  background-color: #00000086;
}


#hero div{
  width: 550px;
  display: grid;
  row-gap: 20px;
  justify-items: center;
}

#arrow{
  position: absolute;
  bottom: 100px;
  left: calc(50%-12px);
  z-index: 1;
}


#sobre{
  background-color: #fff;
}

#comofunciona{
  background-color: #000;
}

#vantagens{
  background: rgb(240,240,240);
  background: linear-gradient(0deg, rgba(240,240,240,1) 82%, rgba(255,255,255,1) 100%);
}




.divider-top {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: -56px;
}

.divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 56px;
}

.divider-top .shape-fill {
  fill: #fff;
}


.divider-bottom {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-bottom: -56px;
}


.divider-bottom svg {
  width: calc(100% + 1.3px);
  height: 56px;
}

.divider-bottom .shape-fill{
  fill: #fff;
}