/* -------------------CONFIG GERAL--------------------- */

body{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100vw;
    z-index: -1;
    opacity: 20%;
  }

  h1, h3, p, .btn-login, .links-login {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
  }


  @media only screen and (max-width: 767px){
    p {
      font-size: 14px;
    }

    h1{
      font-size: 25px;
    }
  }




/* -------------------LOGOS----------------------- */

  .div-logo-loading{
    mix-blend-mode: multiply;
  }


  .logo-loading{
    width: 100%;
    height: 90px;
    margin-bottom: -10px;
  }

  .logo-static{
    width: 100%;
    height: 80px;
    object-fit: contain;
    margin-bottom: -20px;
  }



/* -------------------SESSÃO LOGIN----------------------- */
  .section-login{  
    width: 400px;
    height: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgba(255, 255, 255, 0.39);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.4s; 
    padding: 0 10px;
    mix-blend-mode: multiply;
  }

  @media only screen and (max-width: 767px){
    .section-login{
    width: 80vw;
    transition: 0.4s; 
  }
  }

  .title-login{
    margin-bottom: -10px;
  }

/* -------------------SESSÃO INPUTS----------------------- */

.content-form-login{
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}
  .section-inputs-login{
    display: grid;
    margin: 40px 0;  
  }

  .section-inputs-login input{
    border: 1px solid rgba(179, 179, 179, 0.3);
    background-color: rgba(160, 160, 160, 0.274);
    margin-bottom: 20px;
    height: 40px;    
    border-radius: 20px;
    width: 220px;
    padding: 0 20px 0 50px;
    transition: 0.4s;
  }

  @media only screen and (max-width: 767px){
    .section-inputs-login input{
      width: 50vw;
    transition: 0.4s;    
  }
  }

  .section-inputs-login input:focus{
    transition: 0.4s;
    background-color: rgb(243, 243, 243);
  }

  .icon-password, .icon-email{
    width: 25px; 
    position: absolute;
    margin: 10px;
}
 
  .recover-password{
    margin-top: -5px;
  }


/* ---------------SESSÃO BTN SUBMIT------------------ */
  .actions-login{
    display: grid;
    width: 100%;
    justify-content: center;
  }

  .actions-login input{    
    background: #000;
    color: #fff;
    font-weight: 700;
    height: 50px;
    border-radius: 80px;
    border: none;
    transition: 0.4s;
    text-align: center;
    padding: 0;
    margin: 20px 0 0px 0;
  }


  @media only screen and (max-width: 767px){
    .actions-login input{ 
    width: 50vw;
    transition: 0.4s;    
  }
  }


  .actions-login input:hover{
    background: rgb(71, 71, 71);
    transition: 0.4s;
    cursor: pointer;
  }


  .links-login{
     text-decoration: none;
     margin-top: 50px;
     color: #000
  }

/* ---------------CONFIG ELEMENT INFO------------------ */

  .info{
    
    height: 50px;
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 20px 20px;
  }

  .info{
    color: #fff;
    display: none;
  }

  .info-error-show{
    display: grid;
    background: rgb(172, 0, 0);
  }

  .info-sucess-show{
    display: grid;
    background: rgb(0, 128, 49);
  }

  /* -------------------CONDICIONAIS JS--------------------- */
  .content-hidden{
    display: none;
  }